<form action="/friends/index" method="get">
  
  <button type="submit" class="waves-effect waves-light btn">search</button>
  <input type="text" name="search" placeholder="find friends" maxlength="20" size="20">
</form>